$primary-color: #722ffb;
$danger-color: #ffa28b;

// start hero
.hero {
  height: calc(100vh - 55px);
  position: relative;
  color: white;

  // #video-background {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   min-width: 100%;
  //   min-height: 100%;
  //   max-width: 100%;
  //   max-height: 100%;
  //   z-index: -100;
  //   overflow: hidden;
  //   background-color: var(--dark-bg);

  //   video {
  //     min-width: 100%;
  //     min-height: 100%;
  //   }
  // }

  .container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      text-align: center;

      .title {
        font-size: 45px;
        font-weight: 700;
        color: var(--color-text);

        span {
          background-image: linear-gradient(to right, #722ffb, #ffa28b);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #bdbdbd;
        max-width: 600px;
      }

      .btns {
        button {
          padding: 10px 20px;
          border-radius: 50px;
          color: white;
          border: none;
          font-weight: 500;
        }

        .btn-start {
          background: linear-gradient(55.38deg, #722ffb 17.6%, #ffa28b 75.36%);
          margin-right: 10px;
        }

        .btn-view {
          background-color: var(--secound-dark-bg);
          color: var(--color-text);
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .hero {
    height: 50vh;

    .container-fluid {
      #video-background {
        video {
          height: calc(100vh - 55px);
        }
      }

      .content {
        .title {
          font-size: 30px;
        }

        .desc {
          font-size: 13px;
          line-height: 19px;
        }

        .btns {
          button {
            padding: 5px 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

// end hero

// start we-are
.we-are {
  padding: 60px 10px;
  text-align: center;
  color: var(--color-text);
  background-color: var(--three-dark-bg);

  .container-fluid {
    .omg {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;

      h2 {
        font-size: 50px;
        margin-bottom: 0;
      }

      .slot-word {
        text-transform: uppercase;
        background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
        font-size: 90px;
        font-weight: 700;
      }
    }

    .omg-h4 {
      margin-bottom: 8px;
      font-size: 20px;
    }

    .omg-desc {
      font-size: 15px;
      max-width: 900px;
      margin: auto;
      font-weight: 300;
    }

    .read-more {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .circul {
        background: linear-gradient(55.38deg, #722ffb 17.6%, #ffa28b 75.36%);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: width 0.5s ease-in-out;
      }
    }
  }
}

@media (max-width: 768px) {
  .we-are {
    padding: 30px 0;

    .container-fluid {
      .omg {
        flex-wrap: wrap;

        h2 {
          font-size: 30px;
        }

        .slot-word {
          font-size: 40px;
        }
      }

      .omg-h4 {
        margin-bottom: 3px;
        font-size: 16px;
      }

      .omg-desc {
        font-size: 14px;
      }

      .read-more {
        .text {
          font-size: 14px;
        }

        .circul {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .we-are {
    .container-fluid {
      .omg {
        h2 {
          font-size: 26px;
        }

        .slot-word {
          font-size: 30px;
        }
      }
    }
  }
}
// end we-are

// start trust-us
.trust-us {
  padding: 50px 0;
  color: white;

  .content {
    text-align: center;
    padding: 80px 0;
    background-color: #010101;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: #fff;
      background: linear-gradient($danger-color, $primary-color, #ff00e0);
      /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
      width: 100.7%;
      height: 100.9%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      animation: rotate 1.5s linear infinite;
      transition: transform 0.3s ease;
    }

    .title {
      font-weight: 700;
      margin-bottom: 60px;
    }

    .swiper {
      .swiper-slide {
        img {
          width: 100px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .trust-us {
    padding: 20px 0;

    .content {
      padding: 40px 0;

      .title {
        font-size: 20px;
        margin-bottom: 30px;
      }

      .swiper {
        .swiper-slide {
          img {
            width: 65px;
          }
        }
      }
    }
  }
}
// end trust-us

// start featured
.featured {
  padding: 100px 0 150px;
  position: relative;
  background-color: var(--secound-dark-bg);
  color: var(--color-text);

  .line {
    display: flex;
    align-items: center;

    .text,
    .image {
      width: 50%;
    }

    .text {
      .subtitle {
        margin-bottom: 10px;
        display: block;
        font-size: 17px;
      }

      .title {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .desc {
        line-height: 1.5;
        font-size: 17px;
      }
    }

    .image {
      text-align: center;
      img {
        width: 80%;
      }
    }
  }

  .waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    margin-bottom: -7px;
  }

  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }

  /* Animation */

  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 55px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
    h1 {
      font-size: 24px;
    }
  }
}

@media (max-width: 600px) {
  .featured {
    padding: 50px 0;

    .line {
      flex-direction: column;
      text-align: center;
      gap: 15px;

      .text,
      .iamge {
        width: 100%;
      }

      .text {
        .subtitle {
          margin-bottom: 0px;
          font-size: 14px;
        }

        .title {
          font-size: 22px;
          margin-bottom: 3px;
        }

        .desc {
          font-size: 13px;
        }
      }

      .image {
        width: 90%;
      }
    }
  }
}
// end featured

// start our-process
.our-process {
  padding: 100px 0 50px;
  position: relative;
  color: var(--color-text);
  background-color: var(--three-dark-bg);

  .container {
    .title {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 40px;
      letter-spacing: 0.5rem;
    }

    .line {
      display: flex;

      .left {
        width: 40%;

        .links {
          .tablink {
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;

            &:not(:last-child) {
              margin-bottom: 25px;
            }

            span {
              font-weight: 600;
              font-size: 24px;
            }

            img {
              width: 30px;

              &.img-link2 {
                display: none;
              }
            }

            &:hover {
              img {
                &.img-link1 {
                  display: none;
                }

                &.img-link2 {
                  display: block;
                }
              }
            }

            &.active {
              img {
                &.img-link1 {
                  display: none;
                }

                &.img-link2 {
                  display: block;
                }
              }
            }
          }
        }
      }

      .right {
        width: 60%;

        .tabcontent {
          display: none;
          background: linear-gradient(
            55.38deg,
            $primary-color 17.6%,
            $danger-color 75.36%
          );
          padding: 4rem;
          border-radius: 10px;
          color: white !important;

          &.active {
            display: block;
          }

          .title-box {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 40px;
            margin-bottom: 35px;

            img {
              width: 40px;
            }
          }

          .desc {
            font-size: 17px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }

  .paper-plane {
    height: 50px;
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .our-process {
    padding: 50px 0 30px;

    .container {
      text-align: center;
      .title {
        font-size: 25px;
      }

      .line {
        flex-direction: column;

        .right,
        .left {
          width: 100%;
        }

        .left {
          .links {
            padding-left: 0;

            .tablink {
              justify-content: center;

              &:not(:last-child) {
                margin-bottom: 10px;
              }

              span {
                font-size: 18px;
              }

              img {
                width: 22px;
              }
            }
          }
        }

        .right {
          .tabcontent {
            padding: 2rem;

            .title-box {
              font-size: 20px;
              margin-bottom: 15px;
              gap: 8px;
              justify-content: center;

              img {
                width: 25px;
              }
            }

            .desc {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
// end our-process

// start why-choose-us
.why-choose-us {
  padding: 130px 0;
  position: relative;
  overflow: hidden;
  color: var(--color-text);

  .container {
    .boxs {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
      gap: 30px;

      .box {
        position: relative;

        &:nth-child(1) {
          transform: translateY(20px);
        }

        &:nth-child(2) {
          transform: translateY(40px);
        }

        &:nth-child(3) {
          transform: translateY(-10px);
        }

        .image {
          height: 350px;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.4s;
          }
        }

        .text {
          padding-top: 20px;
          padding-bottom: 5px;
          padding-left: 70px;
          background-color: var(--secound-dark-bg);

          .title {
            position: absolute;
            bottom: 100px;
            left: -105px;
            transform: rotate(270deg);
          }
        }

        &:hover {
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 95%;
            height: 95%;
            border: 2px solid;
            border-image-slice: 1;
            border-width: 0.12em;
            border-image-source: linear-gradient(
              29deg,
              $primary-color 24%,
              $danger-color 75%
            );
            z-index: 10;
          }

          .image {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .glowing {
    position: absolute;
    min-width: 100%;
    height: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: right;
    animation: colorChange 5s linear infinite;
    z-index: 10;
  }

  .glowing:nth-child(even) {
    transform-origin: left;
  }

  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }

  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }

  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134, 255, 0, 1);
    box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
      0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
      0 0 0 8px rgba(134, 255, 0, 0.1);
  }

  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255, 214, 0, 1);
    box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
      0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
      0 0 0 8px rgba(255, 214, 0, 0.1);
  }

  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1),
      0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
      0 0 0 8px rgba(0, 226, 255, 0.1);
  }

  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }

  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }

  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite;
  }

  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

@media (max-width: 600px) {
  .why-choose-us {
    padding: 50px 0;

    .container {
      .boxs {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        .box {
          transform: translateY(0) !important;

          .image {
            height: 250px;
          }

          .text {
            margin-top: 10px;
            margin-left: 50px;

            .title {
              left: -65px;
              font-size: 25px;
            }

            .desc {
              font-size: 13px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
// end why-choose-us

// start techs
.techs {
  background-color: white;
  padding: 50px 0;

  .title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    color: #010101;
  }

  .swiper {
    .swiper-slide {
      img {
        width: 130px;
      }
    }
  }
}
// end techs

// animation
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
