$dark-bg: #010101;
$secound-dark-bg: #0f0f11;
$primary-color: #722ffb;
$danger-color: #ffa28b;

// start hero
.hero {
  height: calc(100vh - 67px);
  position: relative;
  color: white;

  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -100;
    overflow: hidden;
    background-color: $dark-bg;

    video {
      min-width: 100%;
      min-height: 100%;
    }
  }

  .container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      text-align: center;

      .title {
        font-size: 45px;
        font-weight: 700;

        span {
          color: $danger-color;
        }
      }

      .desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #bdbdbd;
        max-width: 600px;
      }

      .btns {
        button {
          padding: 10px 20px;
          border-radius: 7px;
          color: white;
          border: none;
          font-weight: 500;
        }

        .btn-start {
          background-color: $primary-color;
          margin-right: 10px;
        }

        .btn-view {
          background-color: $secound-dark-bg;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .hero {
    height: calc(100vh - 55px);

    .container-fluid {
      #video-background {
        video {
          height: calc(100vh - 55px);
        }
      }

      .content {
        .title {
          font-size: 30px;
        }

        .desc {
          font-size: 13px;
          line-height: 19px;
        }

        .btns {
          button {
            padding: 5px 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
// end hero

// start we-are
.we-are {
  padding: 60px 10px;
  text-align: center;

  .container-fluid {
    .omg {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;

      h2 {
        font-size: 50px;
        margin-bottom: 0;
      }

      .slot-word {
        text-transform: uppercase;
        background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
        font-size: 90px;
        font-weight: 700;
      }
    }

    .omg-h4 {
      margin-bottom: 8px;
      font-size: 20px;
    }

    .omg-desc {
      font-size: 15px;
      max-width: 900px;
      margin: auto;
      font-weight: 300;
    }

    .read-more {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .circul {
        background: linear-gradient(29deg, #722ffb 24%, #dd4fe9 75%);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: width 0.5s ease-in-out;
      }
    }
  }
}

@media (max-width: 768px) {
  .we-are {
    padding: 30px 0;

    .container-fluid {
      .omg {
        flex-wrap: wrap;

        h2 {
          font-size: 30px;
        }

        .slot-word {
          font-size: 40px;
        }
      }

      .omg-h4 {
        margin-bottom: 3px;
        font-size: 16px;
      }

      .omg-desc {
        font-size: 14px;
      }

      .read-more {
        .text {
          font-size: 14px;
        }

        .circul {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .we-are {
    .container-fluid {
      .omg {
        h2 {
          font-size: 26px;
        }

        .slot-word {
          font-size: 30px;
        }
      }
    }
  }
}
// end we-are

// start trust-us
.trust-us {
  padding: 50px 0;

  .content {
    text-align: center;
    padding: 80px 0;
    background-color: $dark-bg;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: #fff;
      background: linear-gradient($danger-color, $primary-color, #ff00e0);
      /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
      width: 100.7%;
      height: 100.9%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      animation: rotate 1.5s linear infinite;
      transition: transform 0.3s ease;
    }

    .title {
      font-weight: 700;
      margin-bottom: 60px;
    }

    .swiper {
      .swiper-slide {
        img {
          width: 100px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .trust-us {
    padding: 20px 0;

    .content {
      padding: 40px 0;

      .title {
        font-size: 20px;
        margin-bottom: 30px;
      }

      .swiper {
        .swiper-slide {
          img {
            width: 65px;
          }
        }
      }
    }
  }
}
// end trust-us

// start featured
.featured {
  padding: 100px 0 150px;
  position: relative;
  background-color: $secound-dark-bg;

  .line {
    display: flex;
    align-items: center;

    .text,
    .image {
      width: 50%;
    }

    .text {
      .subtitle {
        margin-bottom: 10px;
        display: block;
        font-size: 17px;
      }

      .title {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .desc {
        line-height: 1.5;
        font-size: 17px;
      }
    }

    .image {
      text-align: center;
      img {
        width: 80%;
      }
    }
  }

  .waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 999;
  }
  .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 90px;
    bottom: -1px;
    background-color: $secound-dark-bg;
  }
  .bgTop {
    z-index: 15;
    opacity: 0.5;
  }
  .bgMiddle {
    z-index: 10;
    opacity: 0.75;
  }
  .bgBottom {
    z-index: 5;
  }
  .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
  }
  .waveTop {
    background-size: 50% 100px;
  }
  .waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .waveMiddle {
    background-size: 50% 120px;
  }
  .waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
  }
  .waveBottom {
    background-size: 50% 100px;
  }
  .waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
  }
}

@media (max-width: 600px) {
  .featured {
    .line {
      flex-direction: column;
      text-align: center;
      gap: 15px;

      .text,
      .iamge {
        width: 100%;
      }

      .text {
        .subtitle {
          margin-bottom: 0px;
          font-size: 14px;
        }

        .title {
          font-size: 22px;
          margin-bottom: 3px;
        }

        .desc {
          font-size: 13px;
        }
      }

      .image {
        width: 90%;
      }
    }
  }
}
// end featured

// animation

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
